<!DOCTYPE html>
<html>
{{> header }}
  <div class="container">

      <form method="POST">
          <div class="jumbotron m-4">
              <div class="row ml-4 mr-4">
                  <div class="form-group col">
                      <div class="row align-items-center justify-content-center">
                          <h2 class="align-self-center">비밀 번호를 복구(Set New Password)</h2>
                      </div>
                      <label class="m-2">새 암호를 입력하십시오(enter your new password)</label>
                      <p><input type="password" class="form-control" name="newPassword"/></p>
                      <label class="m-2">새 암호를 확인합니다(confirm new password)</label>
                      <p><input type="password" class="form-control" name="confirmNewPassword"/></p>
                  </div>
              </div>
          </div>
          <input type="hidden" name="type" value="changePassword">
          <div class="row justify-content-center m-4">
              <input type="submit" name="confirm" class="btn btn-dark" value="Confirm"/>
          </div>
      </form>

  </div>

</html>
